Package: xyz.skitty.spectrum
Name: Spectrum
Depends: mobilesubstrate, libskittycolor, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Customize system colors!
Maintainer: Skitty
Author: Skitty & EvenDev
Section: Tweaks
