<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>SPHeader</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.spectrum</string>
			<key>PostNotification</key>
			<string>xyz.skitty.spectrum.prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SPProfileCell</string>
			<key>defaults</key>
			<string>xyz.skitty.spectrum</string>
			<key>key</key>
			<string>profile</string>
			<key>PostNotification</key>
			<string>xyz.skitty.spectrum.prefschanged</string>
			<key>label</key>
			<string>Profile</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SkittyAppListViewController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Enabled Applications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.spectrum</string>
			<key>PostNotification</key>
			<string>xyz.skitty.spectrum.prefschanged</string>
			<key>key</key>
			<string>customTintColor</string>
			<key>label</key>
			<string>Custom Tint Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.spectrum</string>
			<key>PostNotification</key>
			<string>xyz.skitty.spectrum.prefschanged</string>
			<key>key</key>
			<string>customDarkColors</string>
			<key>label</key>
			<string>Custom Dark Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.spectrum</string>
			<key>PostNotification</key>
			<string>xyz.skitty.spectrum.prefschanged</string>
			<key>key</key>
			<string>customLightColors</string>
			<key>label</key>
			<string>Custom Light Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SkittyColorCell</string>
			<key>default</key>
			<string>F22F6C</string>
			<key>defaults</key>
			<string>xyz.skitty.spectrum</string>
			<key>key</key>
			<string>tintColor</string>
			<key>PostNotification</key>
			<string>xyz.skitty.spectrum.prefschanged</string>
			<key>label</key>
			<string>Tint Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>System Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SPSystemFillColorsViewController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>System Fill Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SPSystemLabelColorsViewController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Label Colors</string>
		</dict>
	</array>
	<key>title</key>
	<string>Spectrum</string>
</dict>
</plist>
